html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  margin: 5px;
  padding: 5px;
  background-color: #607d8b;
}

.navbar,
.navbar__list {
  display: flex;
  justify-content: space-between;
}

.navbar__link {
  display: block;
  padding: 20px;
  margin-right: 20px;
  border: 1px solid #cecece;
  border-radius: 5px;
  cursor: pointer;
}

.navbar__link:hover {
  background-color: #cecece;
}